# Copy this to .env.preprod and fill in ONLY ONE of the following for a wallet you will
# fund via the Preprod faucet (https://midnight-tmnight-preprod.nethermind.dev/)
# This wallet MUST also have DUST, which you can delegate in 1AM or Lace Carbon(coming soon)

# Set only one, delete the other
MIDNIGHT_PREPROD_MNEMONIC=replace-with-24-word-mnemonic
MIDNIGHT_PREPROD_SEED=replace-with-a-64-char-hex-seed